@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 80px;
    }

    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
        @apply bg-light text-dark antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Playfair Display', serif;
    }
}

@layer utilities {
    .glass {
        @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-lg;
    }

    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-secondary to-blue-400;
    }
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
}

.pattern-moroccan {
    background-image: url('./assets/images/moroccan_pattern.svg');
    background-size: 300px;
    background-repeat: repeat;
    opacity: 0.3;
}